[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
octopus-sensing = "*"
octopus-sensing-monitoring = "*"
octopus-sensing-visualizer = "*"

[dev-packages]

[requires]
python_version = "3.9"
